<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_ContactUsCustom::contactuscustom" title="Contact Us Grid" module="Test_ContactUsCustom" sortOrder="10" resource="Test_ContactUsCustom::contactuscustom" action="contactuscustom/contact"/>
    </menu>
</config>