<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Contact\Controller\Index\Post" type="Test\ContactUsCustom\Controller\Contact\Index\Post"/>

  <preference for="Test\ContactUsCustom\Api\Data\ContactUsCustomInterface" type="Test\ContactUsCustom\Model\ContactUsCustom"/>

  <preference for="Test\ContactUsCustom\Api\ContactUsCustomRepositoryInterface" type="Test\ContactUsCustom\Model\ContactUsCustomRepository"/>

  <virtualType name="Test\ContactUsCustom\Model\ResourceModel\ContactUsCustom\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">contact_us_constom</argument>
            <argument name="resourceModel" xsi:type="string">Test\ContactUsCustom\Model\ResourceModel\ContactUsCustom</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contact_us_list_data_source" xsi:type="string">Test\ContactUsCustom\Model\ResourceModel\ContactUsCustom\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
